# 5장 과제<br>
## Q1

다음은 Calculator 클래스이다.

class Calculator:

    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 즉 다음과 같이 동작하는 클래스를 만들어야 한다.<br>

cal = UpgradeCalculator()<br>
cal.add(10)<br>
cal.minus(7)<br>

print(cal.value) # 10에서 7을 뺀 3을 출력

In [0]:
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

In [0]:
class UpgradeCalculator(Calculator):
    def minus(self, val):
        self.value -= val

## Q2

객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 즉 다음과 같이 동작해야 한다.

cal = MaxLimitCalculator()

cal.add(50) # 50 더하기

cal.add(60) # 60 더하기

print(cal.value) # 100 출력
단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.


class Calculator:

    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val

In [0]:
class MaxLimitCalculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
        if self.value > 100:
            self.value = "100이상의 값은 가질 수 없습니다"   
        return self.value

In [0]:
a1= MaxLimitCalculator()

In [12]:
a1.add(50)

50

In [13]:
a1.add(60)

'100이상의 값은 가질 수 없습니다'

## Q3

하나.

>>> all([1, 2, abs(-3)-3])
둘.

>>> chr(ord('a')) == 'a'

하나. abs 내장함수는 절대값을 나타내어 줌으로 abs(-3)은 3이되고 거기에 -3을 해주었음으로 0이 된다. all 내장함수는 모든 인수가 참이면 True가 나타나고 하나라도 거짓이 있으면 False를 나타내어주는데 0은 거짓임으로 False가 나타날 것이다.<br>
ord 내장함수는 문자의 아스키 코드 값을 돌려주는 함수이고 chr함수는 이와 반대로 아스키 코드의 값을 문자로 나타내는 함수임으로 그대로 a가 나타나고 True가 나올것이다.

In [14]:
all([1, 2, abs(-3)-3])

False

In [15]:
chr(ord('a')) == 'a'

True

## Q4

234라는 10진수의 16진수는 다음과 같이 구할 수 있다.

hex(234)<br>
'0xea'<br>
이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.

※ 내장 함수 int를 활용해 보자.

In [16]:
int(' 0xea', 16)

234

## Q6

map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [17]:
list(map(lambda a: a*3, [1, 2, 3, 4]))

[3, 6, 9, 12]

## Q7

다음 리스트의 최댓값과 최솟값의 합을 구해 보자.

[-8, 2, 7, 5, -3, 5, 0, 1]

In [0]:
a=[-8, 2, 7, 5, -3, 5, 0, 1]

In [19]:
max(a)+min(a)

-1

## Q8

17 / 3의 결과는 다음과 같다.

17 / 3

5.666666666666667

위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [0]:
a=17/3

In [22]:
round(a, 4)

5.6667

## Q9

다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트(C:\doit\myargv.py)를 작성해 보자.

C:\> cd doit

C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10

55

※ 외장 함수 sys.argv를 사용해 보자.

In [74]:
%%writefile myargv.py
import sys

numbers = sys.argv[1:]

result = 0
for number in numbers:
    result += int(number)
print(result)

Overwriting myargv.py

## Q10

os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

C:\doit 디렉터리로 이동한다.
dir 명령을 실행하고 그 결과를 변수에 담는다.
dir 명령의 결과를 출력한다.

In [0]:
import os
os.chdir("/content")

In [0]:
result = os.popen("dir")

In [44]:
print(result.read())

myargv.py  __pycache__	sample_data

## Q11

glob 모듈을 사용하여 C:\doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [45]:
import glob
glob.glob("/content/*.py")

['/content/myargv.py']

## Q12

time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

In [46]:
import time
time.strftime("%Y/%m/%d %H:%M:%S")

'2019/10/09 10:15:24'

## Q13

random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [47]:
import random

result = []
while len(result) < 6:
    num = random.randint(1, 45)
    if num not in result:
        result.append(num)

print(result)

[15, 16, 6, 7, 10, 20]