# 2장 연습문제

## Q1

홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

| 과목 | 점수 |
|:--------|:--------:|
| 국어 | 80 |
| 영어 | 75 |
| 수학 | 55 |

In [4]:
a=(80+75+55)/3
a

70.0

## Q2

자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 말해 보자.

In [5]:
13%2

1

2로 나누었을때 나머지가 1임으로 홀수이다.

## Q3

홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [24]:
a="8811201068234"
yyyymmdd = a[:6]
number= a[6:]
print(yyyymmdd)
print(number)

881120
1068234

## Q4

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

pin = "881120-1068234"

In [21]:
pin = "881120-1068234"
pin[7]

'1'

## Q5

다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

 a = "a:b:c:d"

In [20]:
a = "a:b:c:d"
b = a.replace(":","#")
b

'a#b#c#d'

## Q6

[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [31]:
a=[1, 3, 5, 4, 2] 
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

## Q7

['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [34]:
a=['Life', 'is', 'too', 'short']
b=" ".join(a)
b

'Life is too short'

## Q8

(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [37]:
a=(1,2,3)
a=a+(4,)
a

(1, 2, 3, 4)

## Q9

다음과 같은 딕셔너리 a가 있다.<br>
a = dict()<br>
a<br>
{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.<br><br>

a['name'] = 'python'<br>
a[('a',)] = 'python'<br>
a[[1]] = 'python'<br>
a[250] = 'python'<br>

In [41]:
a = dict()
a
{}
a['name'] = 'python'
a

{'name': 'python'}

In [44]:
a = dict()
a
{}
a[('a',)] = 'python'
a

{('a',): 'python'}

In [45]:
a = dict()
a
{}
a[250] = 'python'
a

{250: 'python'}

3번째는 오류가 난다. 그 이유는 키로 사용되는 [1]은 리스트로 사용되어지기 때문에 변하는 값이기 때문이다. 키로 사용하기 위해서는 변화되지 않는 값인 문자열, 튜플, 숫자를 이용하여야 한다.

## Q10

딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.<br>
a = {'A':90, 'B':80, 'C':70}

In [47]:
a = {'A':90, 'B':80, 'C':70}
b = a.pop('B')
b

80

## Q11

a 리스트에서 중복 숫자를 제거해 보자.<br>
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [48]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b=set(a)
b

{1, 2, 3, 4, 5}

## Q12

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.<br>
a = b = [1, 2, 3]<br>
a[1] = 4<br>
print(b)

In [49]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

In [51]:
a = b = [1, 2, 3]
a[1] = 4
print(b)
a[1]=7

[1, 4, 3]

두개의 값이 같게 나타난다. b의 값은 a의 값을 변화하기 전의 [1,2,3]을 가지기 때문이다.

# 3장 연습문제

## Q1

다음 코드의 결괏값은 무엇일까?<br>
a = "Life is too short, you need python"<br><br>

if "wife" in a: print("wife")<br>
elif "python" in a and "you" not in a: print("python")<br>
elif "shirt" not in a: print("shirt")<br>
elif "need" in a: print("need")<br>
else: print("none")

In [52]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

## Q2

while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [54]:
sum=0
number=1
while number <= 1000:
    if number % 3 == 0:
        sum += number
    number += 1
    
sum

166833

## Q3

while문을 사용하여 다음과 같이 별(*) 을 표시하는 프로그램을 작성해 보자.
"*"<br>
"**"<br>
"***"<br>
"****"<br>
"*****"

In [55]:
a=0
while a < 5:
    a += 1
    print ('*' * a)

*
**
***
****
*****

## Q4

for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [60]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [63]:
A=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for score in A:
    total += score
    
average = total / len(A)
average

79.0

## Q6

리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.<br>
numbers = [1, 2, 3, 4, 5]<br>
result = []<br>
for n in numbers:<br>
    if n % 2 == 1:<br>
        result.append(n*2)<br>
위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [64]:
numbers = [1, 2, 3, 4, 5]
a=[n*2 for n in numbers if n%2==1]
a

[2, 6, 10]